<ion-view view-title="Orders" ng-controller="OrdersCtrl">
  <ion-content class="padding">
    <ion-list>
                   <span ng-repeat="course in menu">
                             <ion-item class="item-divider">{{course.meal}}</ion-item>
                             <ion-item click-for-options ng-repeat="item in course.items">
                               {{item.item}} <span class="item-note">{{item.price | currency:"€"}}
                               <ion-option-button class="button-energized" ng-click="add(item)">Order</ion-option-button>
                             </ion-item>
                   </span>
             </ion-list>

  </ion-content>
</ion-view>
